Repository TheWidlarzGroup/react-native-video, pull requests merged in 2019-07, with the labels that each got.

#1646 iOS KVO Crash Fix
  CHANGELOG.md
  ios/Video/RCTVideo.m
Labels: iOS, needs review

#1629 Android 28, pre to androidx
  README.md
  android-exoplayer/build.gradle
  android/build.gradle
  examples/basic/android/app/build.gradle
  examples/basic/android/app/src/main/AndroidManifest.xml
  examples/basic/android/app/src/main/java/com/videoplayer/MainApplication.java
  examples/basic/android/build.gradle
  examples/basic/android/gradle/wrapper/gradle-wrapper.properties
  examples/basic/android/settings.gradle
  examples/basic/yarn.lock
Labels: Android, needs review

#1647 Fix memory leak on iOS when using `controls` (AVPlayerViewController)
  CHANGELOG.md
  ios/Video/RCTVideo.m
Labels: iOS, needs review

#1469 Bugfix/android disablefocus audio
  CHANGELOG.md
  README.md
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/ReactExoplayerView.java
Labels: Android, ExoPlayer, needs review

#1654 [iOS] fix when controls & muted
  CHANGELOG.md
  ios/Video/RCTVideo.m
Labels: candidate for next release, iOS, needs review

#1652 Release/4.4.3
  CHANGELOG.md
  README.md
  android-exoplayer/build.gradle
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/ReactExoplayerView.java
  android/build.gradle
  examples/basic/android/app/build.gradle
  examples/basic/android/app/src/main/AndroidManifest.xml
  examples/basic/android/app/src/main/java/com/videoplayer/MainApplication.java
  examples/basic/android/build.gradle
  examples/basic/android/gradle/wrapper/gradle-wrapper.properties
  examples/basic/android/settings.gradle
  examples/basic/yarn.lock
  ios/Video/RCTVideo.m
  package.json
Labels: needs review

#1655 handle racing conditions when props are setted on exoplayer
  CHANGELOG.md
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/ReactExoplayerView.java
Labels: ExoPlayer, enhancement, needs review

#1626 Update androidx
  README.md
  android-exoplayer/build.gradle
  examples/basic/android/app/build.gradle
  examples/basic/android/app/src/main/java/com/videoplayer/MainApplication.java
  examples/basic/android/build.gradle
  examples/basic/android/settings.gradle
  package.json
Labels: Android, candidate for next release, needs review
