Repository TheWidlarzGroup/react-native-video, pull requests merged in 2019-06, with the labels that each got.

#1578 Adds onPlaybackRateChange info to README
  CHANGELOG.md
  README.md
Labels: enhancement

#1625 Replace RCTBubblingEventBlock by RCTDirectEventBlock to avoid event name collision with Expo AV
  CHANGELOG.md
  ios/Video/RCTVideo.h
Labels: bug, iOS

#1614 Remove video player when entering background correctly
  CHANGELOG.md
  ios/Video/RCTVideo.m
Labels: iOS

#1592 Change compileOnly to implementation on gradle (for newer gradle versions and react-native 0.59 support)
  android-exoplayer/build.gradle
  android/build.gradle
Labels: Android
