Repository TheWidlarzGroup/react-native-video, pull requests merged in 2019-09, with the labels that each got.

#1690 [FIX] Fix release 5.0.0 bad merge with 5.0.1
  CHANGELOG.md
  README.md
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/ExoPlayerView.java
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/ResizeMode.java
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/VideoEventEmitter.java
  examples/basic/android/app/build.gradle
  examples/basic/android/gradle.properties
  package.json
Labels: Android, ExoPlayer, bug, candidate for next release, needs review

#1715 Updated README.md to include instructions for React Native 0.60 and a…
  README.md
Labels: candidate for next release, iOS

#1720 Removing the call to observeValueForKeyPath:ofObject:change:context: …
  CHANGELOG.md
  ios/Video/RCTVideo.m
Labels: candidate for next release, iOS, needs review

#1699 Fixed Exoplayer doesn't work with mute=true #1696
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/ReactExoplayerView.java
Labels: Android, ExoPlayer
