Repository TheWidlarzGroup/react-native-video, pull requests merged in 2022-06, with the labels that each got.

#2706 Change WindowsTargetPlatformVersion to 10.0
  CHANGELOG.md
  windows/ReactNativeVideoCPP/ReactNativeVideoCPP.vcxproj
Labels: windows

#2672 Update Android dependency to JitPack!
  android/build.gradle
Labels: android, dependecy

#2710 test(android): enable app on androidtv
  examples/basic/android/app/src/main/AndroidManifest.xml
Labels: documentation

#2625 Use prop types from `deprecated-react-native-prop-types`
  Video.js
  package.json
Labels: dependecy

#2689 Crunchyroll Android Improvements
  CHANGELOG.md
  README.md
  Video.js
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/DefaultReactExoplayerConfig.java
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/ExoPlayerView.java
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/ReactExoplayerConfig.java
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/ReactExoplayerLoadErrorHandlingPolicy.java
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/ReactExoplayerView.java
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/ReactExoplayerViewManager.java
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/VideoEventEmitter.java
Labels: bug, feature, android

#2712 updated ReactVideoView.java to fix seeking issue on android
  CHANGELOG.md
  android/src/main/java/com/brentvatne/react/ReactVideoView.java
Labels: bug, android, review requested, 1

#2715 Chore/fix build android
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/VideoEventEmitter.java
  examples/basic/yarn.lock
Labels: android, dependecy

#2498 feat: upgrade exoplayer to v2.17.1
  API.md
  CHANGELOG.md
  README.md
  android-exoplayer/build.gradle
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/DataSourceUtil.java
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/ExoPlayerView.java
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/ReactExoplayerView.java
  android/build.gradle
  examples/basic/android/build.gradle
  examples/video-caching/android/app/build.gradle
  examples/video-caching/android/app/src/main/AndroidManifest.xml
Labels: android, dependecy, 2, review requested

#2721 Fix onReadyForDisplay not being called on iOS
  CHANGELOG.md
  ios/Video/Features/RCTPlayerObserver.swift
Labels: bug, ios, review requested, 1

#2718 Replace Image.propTypes with ImagePropTypes.
  Video.js
Labels: ios, dependecy

#2724 Remove Android MediaPlayer support #2656
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.md
  API.md
  CHANGELOG.md
  Video.js
  android-exoplayer/build.gradle
  android-exoplayer/src/main/AndroidManifest.xml
  android-exoplayer/src/main/java/com/brentvatne/react/ReactVideoPackage.java
  android/README.md
  android/build.gradle
  android/src/main/java/com/android/vending/expansion/zipfile/APEZProvider.java
  android/src/main/java/com/android/vending/expansion/zipfile/APKExpansionSupport.java
  android/src/main/java/com/android/vending/expansion/zipfile/ZipResourceFile.java
  android/src/main/java/com/brentvatne/exoplayer/AspectRatioFrameLayout.java
  android/src/main/java/com/brentvatne/exoplayer/DataSourceUtil.java
  android/src/main/java/com/brentvatne/exoplayer/DefaultReactExoplayerConfig.java
  android/src/main/java/com/brentvatne/exoplayer/ExoPlayerView.java
  android/src/main/java/com/brentvatne/exoplayer/RawResourceDataSourceFactory.java
  android/src/main/java/com/brentvatne/exoplayer/ReactExoplayerConfig.java
  android/src/main/java/com/brentvatne/exoplayer/ReactExoplayerLoadErrorHandlingPolicy.java
  android/src/main/java/com/brentvatne/exoplayer/ReactExoplayerView.java
  android/src/main/java/com/brentvatne/exoplayer/ReactExoplayerViewManager.java
  android/src/main/java/com/brentvatne/exoplayer/ResizeMode.java
  android/src/main/java/com/brentvatne/exoplayer/VideoEventEmitter.java
  android/src/main/java/com/brentvatne/react/ReactVideoPackage.java
  android/src/main/java/com/brentvatne/react/ReactVideoView.java
  android/src/main/java/com/brentvatne/react/ReactVideoViewManager.java
  android/src/main/java/com/brentvatne/receiver/AudioBecomingNoisyReceiver.java
  android/src/main/java/com/brentvatne/receiver/BecomingNoisyListener.java
  android/src/main/res/layout/exo_player_control_view.xml
  android/src/main/res/values/strings.xml
  examples/basic/android/settings.gradle
  package.json
Labels: android, breaking change

#2720 Fix iOS build caused by type mismatch
  CHANGELOG.md
  ios/Video/RCTVideo.swift
Labels: ios

#2733 Remove DOM support. Closes #2647
  API.md
  dom/RCTVideo.js
  dom/RCTVideoEvent.js
  dom/RCTVideoManager.js
  dom/index.js
  dom/resizeModes.js
  dom/types.js
  package.json
Labels: web, breaking change, review requested, 1

#2664 fix(android, exoplayer): ensure playback progress is reported
  CHANGELOG.md
  android/src/main/java/com/brentvatne/exoplayer/ReactExoplayerView.java
Labels: bug, android
