Repository TheWidlarzGroup/react-native-video, pull requests merged in 2022-04, with the labels that each got.

#2181 Fix default behavior for captions in ExoPlayer
  CHANGELOG.md
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/ReactExoplayerView.java
Labels: ExoPlayer

#2575 [Android] Fix app crash from NPE in Exoplayer error handler
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/ReactExoplayerView.java
Labels: ExoPlayer

#2645 Disable pipController init if pictureInPicture is false
  ios/Video/RCTVideo.m
Labels: bug

#2395 Make sure modifiers are applied before playing
  ios/Video/RCTVideo.m
Labels: iOS

#2535 Better support newer versions of RNW (64 and newer)
  Video.js
  examples/basic/windows/VideoPlayer.sln
  examples/basic/windows/VideoPlayer/VideoPlayer.vcxproj
  windows/ReactNativeVideoCPP.sln
  windows/ReactNativeVideoCPP/ReactNativeVideoCPP.vcxproj
  windows/ReactNativeVideoCPP61.sln
  windows/ReactNativeVideoCPP61/ReactNativeVideoCPP61.vcxproj
  windows/ReactNativeVideoCPP62.sln
Labels: Windows

#695 Fix nil string uri parameter error
  Video.js
Labels: bug

#2587 Bump shaka-player to 3.3.2
  DRMType.js
  Video.js
  package.json
Labels: breaking change, dependecy

#2658 Fix/switch basic sample to ts
  examples/basic/android/app/build.gradle
  examples/basic/android/app/src/main/AndroidManifest.xml
  examples/basic/android/app/src/main/java/com/videoplayer/MainApplication.java
  examples/basic/android/build.gradle
  examples/basic/android/gradle/wrapper/gradle-wrapper.properties
  examples/basic/babel.config.js
  examples/basic/ios/AppDelegate.m
  examples/basic/ios/VideoPlayer/AppDelegate.m
  examples/basic/ios/main.jsbundle
  examples/basic/jsconfig.json
  examples/basic/package.json
  examples/basic/src/VideoPlayer.android.tsx
  examples/basic/src/VideoPlayer.ios.tsx
  examples/basic/src/VideoPlayer.windows.tsx
  examples/basic/src/broadchurch.mp4
  examples/basic/src/index.js
  examples/basic/tsconfig.json
  examples/basic/windows/VideoPlayer/App.cpp
  examples/basic/windows/VideoPlayer/VideoPlayer.vcxproj
  examples/basic/yarn.lock
Labels: documentation
