Repository TheWidlarzGroup/react-native-video, pull requests merged in 2022-08, with the labels that each got.

#2768 fix: fix the play button not shown after pausing video at the very first time
  android/src/main/java/com/brentvatne/exoplayer/ReactExoplayerView.java
Labels: bug, android, 1

#2639 Fix crash when the source is a cameraroll
  CHANGELOG.md
  Video.js
  ios/Video/Features/RCTVideoUtils.swift
  ios/Video/RCTVideo.swift
Labels: feature, ios, pending rebase

#2741 fix(android): ensure we don't disable playback when player is ENDED
  CHANGELOG.md
  android/src/main/java/com/brentvatne/exoplayer/ReactExoplayerView.java
Labels: bug, android, 1

#2759 feat: add support of subtitles style configuration
  API.md
  CHANGELOG.md
  Video.js
  android/src/main/java/com/brentvatne/ReactBridgeUtils.java
  android/src/main/java/com/brentvatne/exoplayer/ExoPlayerView.java
  android/src/main/java/com/brentvatne/exoplayer/ReactExoplayerView.java
  android/src/main/java/com/brentvatne/exoplayer/ReactExoplayerViewManager.java
  android/src/main/java/com/brentvatne/exoplayer/SubtitleStyle.java
Labels: feature, android, 1

#2740 Feature/add api to retrieve decoder capabilities
  API.md
  CHANGELOG.md
  Video.js
  android/src/main/java/com/brentvatne/react/ReactVideoPackage.java
  android/src/main/java/com/brentvatne/react/VideoDecoderPropertiesModule.java
  examples/basic/src/VideoPlayer.android.tsx
Labels: android, 1
